:root {
}

.IconImg {
    width: 300px;
    height: 250px;
    background-image: none;
    transition-duration: 1s;
    translate: 0 0;
}

.IconImg_Up {
    translate: 0 -30px;
    transition-duration: 1s;
}
